<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{page_title}}</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>

<header>
    <h1>Trace Visualizer</h1>
    <p>Concurrent Java Code Analysis</p>
</header>

<main>
    <section class="editor-section">
        <h2>Source Code</h2>
        <div id="editor-container"></div>
        <div class="analysis-options">
            <label>
                <input type="radio" name="analysis-property" id="check-deadlock" value="deadlock">
                Deadlock detection
            </label>
            <label>
                <input type="radio" name="analysis-property" id="check-starvation" value="starvation">
                Starvation detection
            </label>
            <label>
                <input type="radio" name="analysis-property" id="check-data-race" value="data_race">
                Data race detection
            </label>
            <label>
                <input type="radio" name= "analysis-property" id="check-mutual-exclusion" value="mutual_exclusion">
                Mutual exclusion detection
            </label>
        </div>
        <button id="analyze-btn">Analyze</button>
    </section>

    <section class="results-section">
        <h2>Analysis Results</h2>
        <div id="results-dashboard">
            No analysis executed yet.
        </div>
        <div id="explanation-view"></div>
        <div id="scenario-visualizer"></div>
    </section>
</main>
<script src="/static/js/cytoscape.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.52.2/min/vs/loader.min.js"></script>

<script src="/code_input_module/code_input_module.js"></script>
<script src="/analysis_configuration_module/analysis_configuration_module.js"></script>
<script src="/request_builder/request_builder.js"></script>
<script src="/results_dashboard/results_dashboard.js"></script>
<script src="/explanation_view/explanation_view.js"></script>
<script src="/scenario_visualizer/scenario_visualizer.js"></script>
<script src="/api_client/api_client.js"></script>
</body>
</html>